<h1>Burger Joint!</h1>

<h2>Home made burgers</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}

	<button class="Eat" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR ME!!!
	</button>

	
  <br>
  
    {{/unless}}
  {{/each}}
</ul>





<h2>ßurgers that have been devoured!</h2>
<h4>
<ul class="right">
  {{#each burgers}}
    {{#if devoured}}
     {{burger_name}}
     <button class="delete-cat" data-id="{{this.id}}">THROW ME AWAY!</button>
     <br>

    {{/if}}
  {{/each}}
</ul>
</h4>

 
<h2>Add a burger</h2>

<form class="create-form">

  <div class="form-group">
    <label for="bu">Lets make a burger:</label>
    <input type="text" id="bu" name="name">
  </div>


  <button type="submit">Add Burger</button>
</form>

